{% block header %}
<header id="page-header">
    {% block navbar %}navbar{% endblock navbar %}
    {% block header_data %}header_data{% endblock header_data %}
</header> <!-- /page-header -->
{% endblock header %}

{% block content %}
{% block content_header %}
<header id="content-header">
    <h1 id="content-title">{% block content_title %}content_title{% endblock content_title %}</h1>
    <p id="content-description">
    {% block content_description %}content_description{% endblock content_description %}
    </p> <!-- /content-desdcription -->
</header> <!-- /content-header -->
{% endblock content_header %}

{% block content_breadcrumbs %}content_breadcrumbs{% endblock content_breadcrumbs %}
{% block content_data %}content_data{% endblock content_data %}
{% endblock content %}

{% block footer %}
<footer id="page-footer">
{% block footer_data %}footer_data{% endblock footer_data %}
</footer>
{% endblock footer %}

