{% block body %}
    <div class="content-wrapper-17">
        {{ block('page_header_footer_sidebar_left') }}
    </div>
{% endblock body %}

{% block navbar_menu %}
    {{ millwright_menu_render('main') }}
{% endblock navbar_menu %}

{% block navbar_text %}
    {{ block('fos_login_block') }}
{% endblock navbar_text %}

{% block header %}header{% endblock header %}
{% block footer %}footer{% endblock footer %}

{% block content_breadcrumbs %}content_breadcrumbs{% endblock content_breadcrumbs %}
{% block content_title %}content_title{% endblock content_title %}
{% block content_description %}content_description{% endblock content_description %}
{% block content %}content{% endblock content %}

{% block sidebar_primary %}sidebar_primary{% endblock sidebar_primary %}


{% block project_name %}Bootstrap{% endblock project_name %}
