{% use 'MillwrightTwitterBootstrapBundle:Menu:widgets.html.twig' %}

{% block navbar_data %}
    {{ millwright_menu_render('main') }}
{% endblock navbar_data %}

{% block navbar_login %}
<p class="pull-right">Logged in as <a href="#">username</a></p>
{% endblock navbar_login %}

{% block sidebar_primary %} sidebar {% endblock sidebar_primary %}
