{% block navbar_menu %}
    {{ millwright_menu_render('main') }}
{% endblock navbar_menu %}

{% block navbar_top %}<div></div><div class="pull-right">{{- block('fos_login_block') -}}</div></div>{% endblock navbar_top %}

{% block footer %}footer{% endblock footer %}

{% block content_breadcrumbs %}content_breadcrumbs{% endblock content_breadcrumbs %}
{% block content_title %}content_title{% endblock content_title %}
{% block content_description %}content_description{% endblock content_description %}
{% block content %}content{% endblock content %}

{% block search %}search{% endblock search %}


{% block project_name %}Bootstrap{% endblock project_name %}
