{% macro table_begin(translation_domain, columns, pagination) %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for col in columns %}
                {% if col is iterable %}
                    <th class="{{ col.label|replace({'.': '_'})|lower }}">
                        {{ pagination.sortable(col.label, col.key, { 'translationDomain': translation_domain })|raw }}
                    </th>
                {% else %}
                    <th class="{{ col }}">
                        {{ col | trans({}, translation_domain) }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% endmacro table_begin %}

{% macro table_end() %}
    </tbody>
</table>
{% endmacro table_end %}

{% macro row_begin() %}
    <tr>
{% endmacro row_begin %}

{% macro row_end() %}
    </tr>
{% endmacro row_end %}

{% macro cell_begin() %}
    <td>
{% endmacro cell_begin %}

{% macro cell_end() %}
    </td>
{% endmacro cell_end %}
