{#
    Table macroses
#}

{#
    Begin table

    @param string translation_domain
    @param array columns
    @param KnpPaginationInterface
#}
{% macro table_begin(translation_domain, columns, pagination) %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for col in columns %}

                {% if col.label is not defined %}
                    {% set col = {'label': col} %}
                {% endif %}

                {% if col.key is defined %}
                    <th class="{{ col.label|replace({'.': '_'})|lower }}">
                        {{ pagination.sortable(col.label, col.key, { 'translationDomain': translation_domain })|raw }}
                    </th>
                {% else %}
                    <th class="{{ col.label }}">
                        {{ col.label | trans({}, translation_domain) }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% endmacro table_begin %}

{#
   Table end
#}
{% macro table_end() %}
    </tbody>
</table>
{% endmacro table_end %}

{#
    Table row begin
#}
{% macro row_begin() %}
    <tr>
{% endmacro row_begin %}

{#
    Table row end
#}
{% macro row_end() %}
    </tr>
{% endmacro row_end %}

{#
    Table cell begin
#}
{% macro cell_begin() %}
    <td>
{% endmacro cell_begin %}

{#
    Table cell end
#}
{% macro cell_end() %}
    </td>
{% endmacro cell_end %}

{#
    No data message
#}
{% macro no_data() %}
    Нет данных
{% endmacro no_data %}
