{% block page %}
<section id="page-content" class="container-fluid">
<div class="row-fluid">
    <section id="content" role="main" class="span10">
    {% block content %} {% endblock content %}
    </section> <!-- /content -->

    <aside id="sidebar-primary" role="complementary" class="span2">
    {% block sidebar_primary %} {% endblock sidebar_primary %}
    </aside> <!-- /sidebar-primary -->
</div>

</section> <!-- /content-wrapper -->
{% endblock page %}
