{% block navbar %}
<nav id="page-navbar" role="navigation" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            {% block navbar_data %}page_navbar_data{% endblock navbar_data %}
        </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
</nav> <!-- /page-navbar -->
{% endblock navbar %}
